.todo {
    text-align: center;
    width: 20%;
    margin-left: 8%;
    background-color: rgb(225, 122, 122);
    margin-top: 7%;
    padding: 30px;
    border: 15px solid;
    border-radius: 10px;
    border-color: black;
    font-size:large;
   
}


#title{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    border:2px solid;
}
#description {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px;
    border:2px solid;
}

#btn {
    background-color: rgb(15, 5, 90);
    font-weight: bold;
    color: whitesmoke;
    padding: 5px 10px;
    margin:3px;
    border-radius: 5px;
    border: none;
    border:3px solid black;

}
.listitem{
    width: 39%;
    margin-left: 45%;
    background-color: rgb(225, 122, 122);
    padding: 30px;
    margin-top: -350px;
    border: 15px solid;
    border-radius: 10px;
    border-color: black;
    font-size:large;
    font-weight: bolder;
}

#btne{
    background-color: rgb(31, 120, 6);
    font-weight: bold;
    color: whitesmoke;
    padding: 5px 10px;
    margin:10px;
    border-radius: 5px;
    border: none;
    border:2px solid black;
    cursor: pointer;
}
#btnd{
    background-color: rgb(237, 18, 18);
    font-weight: bold;
    color: whitesmoke;
    padding: 5px 10px;
    margin:10px;
    border-radius: 5px;
    border: none;
    border:2px solid black;
    cursor: pointer;
}